name: Publish Python distributions to PyPI and TestPyPI

on:
  release:
    types: [published]


jobs:
  build-n-publish:
    name: Build and publish Python distributions to PyPI and TestPyPI
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"

    - name: Install pypa/build
      run: >-
        python -m
        pip install
        build
        --user

    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        build
        --sdist
        --wheel
        --outdir dist/

    # Publish the package to test.pypi for every rc version
    - name: Publish distribution to Test PyPI
      if: "startsWith(github.ref, 'refs/tags') && contains(github.ref, 'rc')"
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.test_pypi_password }}
        repository_url: http://test.pypi.org/legacy/

    # Publish a tagged version on PyPI for non-release candidates
    - name: Publish distribution to PyPI
      if: "startsWith(github.ref, 'refs/tags') && !contains(github.ref, 'rc')"
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.pypi_password }}
