name: Coverage report

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Checkout repo and setup Python
    steps:
    - uses: actions/checkout@v3
    - name: Install python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        architecture: x64
    - name: Update pip and hatch
      run: python -m pip install --upgrade pip hatch
    - name: Generate test coverage
      run: hatch run test:cov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        directory: ./coverage/reports/
        files: ./cov.xml
        env_vars: python-version
        fail_ci_if_error: true
        verbose: true
