name: CI test and build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    name: Run tests for ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v3
    - name: Install python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Update pip and hatch
      run: python -m pip install --upgrade pip hatch
    - name: Test with pytest
      run: hatch run test
    - name: Check codestyle
      run: hatch run lint
    - name: Build the package
      run: hatch build
